@media (min-width: 992px) {
  .container {
    display: flex;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    max-width: 900px;
    margin: auto;

    .card {
      padding: 45px;
  
      p {
        margin-bottom: 80px;
      }
    }
  }

  .bright-orange {
    border-radius: 10px 0 0 10px;
  }

  .very-dark-cyan {
    border-radius: 0 10px 10px 0;
  }
}
